<h3 class="mb-3 text-dark">Bitgrit Resume Analysis</h3>

<!--error message-->
<div class="alert alert-custom alert-dismissible fade show rounded-0 border-0" *ngFor="let item of error_msg" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <strong class="pr-2">OOPS! </strong> {{item}}
</div>

<br>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <input (change)="onFileSelected($event)" class="border w-100 rounded-lg p-3 pointer" required type="file" id="file">
        <button (click)="upload_resume()" class="btn btn-block btn-primary border-0 rounded-0 mt-3">Upload</button>
        <div class="w-100 mt-3">
            <div class="bg-light p-3 mb-3">
                <h6 class="text-secondary">Contact Details</h6>

            </div>
            <div class="bg-light p-3 mb-3">
                <h6 class="text-secondary">Education Details</h6>

            </div>
            <div class="bg-light p-3 mb-3">
                <h6 class="text-secondary">Skills</h6>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 d-none d-md-block">
        <p class="lead text-secondary">
            <strong>{{show_preview && selected_resume ? "Preview of your Resume" : ""}}</strong>
        </p>
        <div class="d-flex justify-content-center pl-2">
            <img src="/assets/no_file.svg" class="img-fluid w-50" *ngIf="!show_preview || !selected_resume" alt="no file input given" />
            <pdf-viewer *ngIf="show_preview" [src]="selected_resume" [render-text]="true" [zoom]="0.75" style="display: block;"></pdf-viewer>
        </div>
    </div>
</div>