<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="/assets/bitgrit.png" height="70">
    <br>
    <h1 class="text-main">Welcome to Bitgrit</h1>
    <br>
    <p class="lead text-center text-secondary">
        Founded in Tokyo in 2017, bitgrit is a multinational startup that has built up a strong community of over 20,000 data scientists worldwide. In addition to holding AI-focused online and offline events, we host AI competitions where we challenge our prestigious
        data scientist community to develop unique data-driven solutions across industries.
    </p>
    <br><br>
    <button routerLink="/candidate" class="btn btn-primary border-0 outline-0 py-2 px-5 shadow">Free Resume Analysis</button>
    <br><br>
</div>