<div class="d-flex flex-column justify-content-center align-items-center">
    <!--error msg-->
    <div class="alert alert-custom alert-dismissible fade show rounded-0 border-0" *ngFor="let item of error_msg; let i =index" role="alert">
        <button type="button" (click)="clear_error_msg(i)" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
        <strong class="pr-2">OOPS! </strong> {{item}}
    </div>
    <!--card-->
    <div class="card p-5 border-0 shadow-lg rounded-lg">
        <h2 class="text-main">Welcome to Bitgrit</h2>
        <br>
        <p class="lead mb-0 pb-0 text-secondary" style="font-size: 16px;">Username</p>
        <input class="mb-3 p-1" type="text" [(ngModel)]="userName" />
        <p class="lead mb-0 pb-0 text-secondary" style="font-size: 16px;">Password</p>
        <input class="mb-3 p-1" type="password" [(ngModel)]="password" />
        <button class="btn btn-primary border-0 outline-0 py-2 px-5 mt-3 shadow" (click)="login(userName, password)">Login</button>
    </div>
</div>