<nav class="navbar navbar-expand-md navbar-light navbar-default navbar-fixed-top bg-light">
    <a routerLink="/" class="navbar-brand mx-md-4 mx-2">
        <img src="/assets/bitgrit.png" height="48" alt="bitgrit logo" />
    </a>
    <button type="button" class="navbar-toggler outline-0 border-0 mr-2 ml-md-0" data-toggle="collapse" data-target="#navbarCollapse">
    <!--icon for the navbar-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="20px" height="20px">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
    </svg>
  </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto mr-md-4">
            <a *ngFor="let item of navigation_list" [routerLink]="item.url" routerLinkActive="active" class="px-3 nav-item nav-link">{{item.title | titlecase}}</a>
        </div>
    </div>
</nav>

<!--router outler here-->
<div class="container pt-3" style="min-height: 90vh;">
    <router-outlet></router-outlet>
</div>

<!--footer here! refrenece taken from bitgrit.net-->
<footer class="d-md-flex align-items-center container-fluid px-3 px-md-5 py-5 shadow bg-light justify-content-between">
    <div class="d-flex justify-content-between">
        <a *ngFor="let item of social_media_links" href="{{item.url}}">
            <img src="{{item.path}}" height="32" class="mx-3" alt="social media icon" />
        </a>
    </div>
    <div class="d-md-flex justify-content-between">
        <a *ngFor="let item of navigation_list" [routerLink]="item.url" class="px-3 mx-2 nav-item nav-link btn-link">
      {{item.title | titlecase}}</a>
    </div>
    <p class="lead text-secondary pr-4 pt-2">Copyright © bitgrit {{year}}</p>
</footer>